<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Ghe_detail-->
    <link rel="stylesheet" href="../assets/css/ghe_detail.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <!--Header-->
    <header></header>

    <!--Ghế detail Content-->
    <div class="ghe_detail container">
      <p><i>Trang chủ / GHẾ - CHAIRS / VAHI</i></p>
      <div class="product container">
        <div class="show">
          <div class="image-slideshow">
            <img src="../assets/images/sanpham/detail/show_1.webp" alt="" />
            <img src="../assets/images/sanpham/detail/show_2.jpeg" alt="" />
            <img src="../assets/images/sanpham/detail/show_3.jpeg" alt="" />
            <img src="../assets/images/sanpham/detail/show_4.jpeg" alt="" />
            <img src="../assets/images/sanpham/detail/show_5.jpeg" alt="" />
            <img src="../assets/images/sanpham/detail/show_6.jpeg" alt="" />
            <img src="../assets/images/sanpham/detail/show_7.png" alt="" />
            <img src="../assets/images/sanpham/detail/show_1.webp" alt="" />
          </div>
          <div class="img_show">
            <div
              id="product_detail"
              class="carousel slide"
              data-bs-touch="false"
              data-bs-interval="false"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="product-img">
                    <img
                      src="../assets/images/sanpham/detail/show_1.webp"
                      alt=""
                      class="selected"
                    />
                    <img
                      src="../assets/images/sanpham/detail/show_2.jpeg"
                      alt=""
                    />
                    <img
                      src="../assets/images/sanpham/detail/show_3.jpeg"
                      alt=""
                    />
                    <img
                      src="../assets/images/sanpham/detail/show_4.jpeg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="product-img">
                    <img
                      src="../assets/images/sanpham/detail/show_5.jpeg"
                      alt=""
                    />
                    <img
                      src="../assets/images/sanpham/detail/show_6.jpeg"
                      alt=""
                    />
                    <img
                      src="../assets/images/sanpham/detail/show_7.png"
                      alt=""
                    />
                    <img
                      src="../assets/images/sanpham/detail/show_1.webp"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <button
                class="carousel-control-prev btn-show"
                type="button"
                data-bs-target="#product_detail"
                data-bs-slide="prev"
                style="position: relative; left: -3.5vw; top: -4vw"
              >
                <i
                  class="fa-solid fa-angle-left fa-2xl"
                  style="color: #000000"
                ></i>
              </button>
              <button
                class="carousel-control-next btn-show"
                type="button"
                data-bs-target="#product_detail"
                data-bs-slide="next"
                style="position: relative; left: 30vw; top: -4vw"
              >
                <i
                  class="fa-solid fa-angle-right fa-2xl"
                  style="color: #000000"
                ></i>
              </button>
            </div>
          </div>
        </div>
        <div class="detail">
          <div class="detail-content">
            <div class="content-header">
              <h1>LINN</h1>
              <p>Ghế văn phòng, 61x61x86/96 cm</p>
              <h3>1,750,000₫</h3>
            </div>
            <div class="content-body">
              <p><b>Kích thước:</b> D61 x R61 x C86/96 cm</p>
              <p><b>Màu sắc:</b> Nâu/Be/Xanh</p>
              <p><b>Chất liệu:</b> chân sắt sơn tĩnh điện, nệm ngồi simili</p>
            </div>
            <div class="content-footer">
              <div class="flex">
                <b>Màu sắc:</b>
                <div class="color" id="brown"></div>
                <div class="color" id="beige"></div>
                <div class="color" id="blue"></div>
              </div>
              <div class="flex">
                <b>Số lượng:</b>
                <input type="number" />
              </div>
            </div>
          </div>
          <button class="detail-btn">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
    <!--Share Content-->
    <div class="container share"></div>
    <!--Footer-->
    <footer></footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/sanpham_detail.js"></script>
    <script src="../assets/js/header&footer.js"></script>
    <script src="../assets/js/slideshow.js"></script>
  </body>
</html>
