<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make My Home</title>
    <!--General-->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Header-->
    <link rel="stylesheet" href="../assets/css/header.css" />
    <!--Tuyendung-->
    <link rel="stylesheet" href="../assets/css/tuyendung.css" />
    <!--Footer-->
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <!--Boostrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--Fontawsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <!--Header-->
    <header>
      <div class="header_top">
        <a href="../LandingPage.html"
          ><img src="../assets/images/navbar/logo.webp" class="logo" alt=""
        /></a>
        <div class="header_right">
          <div class="header_right_search">
            <i
              style="font-size: 16px; height: 10px"
              class="fa-solid fa-magnifying-glass"
            ></i>
            <input type="text" placeholder="Tìm kiếm sản phẩm..." />
          </div>
          <div class="header_right_icon">
            <a style="font-size: 20px" href="user.html"
              ><i class="fa-regular fa-user fa-sm"></i
            ></a>
            <a style="font-size: 20px" href="cart.html"
              ><i class="fa-solid fa-bag-shopping fa-sm"></i
            ></a>
          </div>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li class="active">
            <a href="./GioiThieu.html" class="marked">GIỚI THIỆU</a>
          </li>
          <li>
            <a href="./sanpham.html" class="marked">SẢN PHẨM</a>
            <div class="bg_menu_1">
              <div class="menu_1">
                <ul>
                  <li><a href="./sanpham.html">SOFA - sofas</a></li>
                  <li><a href="./sanpham.html">BÀN - tables</a></li>
                  <li><a href="./sanpham.html">GHẾ - chairs</a></li>
                  <li>
                    <a href="./sanpham.html">KỆ, TỦ - shelf units, cabinets</a>
                  </li>
                  <li><a href="./sanpham.html">ĐÈN - lamps</a></li>
                  <li><a href="./sanpham.html">GƯƠNG - mirrors</a></li>
                </ul>
                <ul>
                  <li><a href="./sanpham.html">GIƯỜNG - beds</a></li>
                  <li><a href="./sanpham.html">CHĂN, GA, GỐI - badding</a></li>
                  <li>
                    <a href="./sanpham.html"
                      >SẢN PHẨM DỆT MAY - home textitle</a
                    >
                  </li>
                  <li><a href="./sanpham.html">TRANG TRÍ - decorations</a></li>
                  <li>
                    <a href="./sanpham.html">ĐỒ GIA DỤNG - household goods</a>
                  </li>
                  <li><a href="./sanpham.html">ẤN PHẨM - publications</a></li>
                  <li><a href="./sanpham.html">BỘ SƯU TẬP - collections</a></li>
                </ul>
                <img
                  src="../assets/images/navbar/image_menu_products.webp"
                  alt=""
                  style="
                    width: 30vw;
                    height: 40vh;
                    margin-bottom: 2%;
                    margin-left: 10%;
                  "
                />
              </div>
            </div>
          </li>
          <li>
            <a href="./MConcept.html" class="marked">M.CONCEPT</a>
            <div class="menu_2">
              <ul>
                <li><a href="./MConcept.html">ĐỘC LẬP Concept</a></li>
                <li><a href="./MConcept.html">SAGO Concept</a></li>
                <li>
                  <a href="./MConcept.html">DALAT GRACE Concept</a>
                </li>
                <li><a href="./MConcept.html">QUADA Concept</a></li>
                <li><a href="./MConcept.html">JOHY Concept</a></li>
                <li><a href="./MConcept.html">HANO Concept</a></li>
                <li><a href="./MConcept.html">EZ Concept</a></li>
                <li>
                  <a href="./MConcept.html">EZ TINY CONCEPT Concept</a>
                </li>
                <li><a href="./MConcept.html">DALAT Concept</a></li>
              </ul>
            </div>
          </li>
          <li><a href="tktc.html" class="marked">THIẾT KẾ & THI CÔNG</a></li>
          <li>
            <a href="tintuc.html" class="marked">TIN TỨC</a>
            <div class="menu_2">
              <ul>
                <li><a href="#">KÉO GHẾ RA NGỒI</a></li>
                <li><a href="#">TỐI GIẢN "MỘT" CHÚT</a></li>
                <li><a href="#">ƯU ĐÃI THÀNH VIÊN</a></li>
                <li><a href="#">BỐN CHÂN TIẾP SỨC</a></li>
                <li><a href="#">CÔNG TRÌNH THỰC TẾ</a></li>
                <li><a href="#">HOME TIPS</a></li>
                <li><a href="#">LOOKBOOK</a></li>
                <li><a href="#">TUYỂN DỤNG</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="uudai.html" class="marked">ƯU ĐÃI</a>
            <div class="menu_3">
              <ul>
                <li>
                  <img
                    src="../assets/images/navbar/image_menu_promotion.webp"
                    alt=""
                    style="width: 40vw; padding: 20px 150px"
                  />
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <!--Tuyển dụng Content-->
    <div class="tuyendung_header container">
      <hr size="30px" color="yellow" />
      <h1>Tin tức</h1>
      <div class="content flex">
        <div class="content_1">
          <h4 style="margin-top: 0">Bài viết</h4>
          <h4>Intagram</h4>
          <div class="grid-container">
            <img src="../assets/images/Tuyendung/6.jpg" alt="" />
            <img src="../assets/images/Tuyendung/1.jpg" alt="" />
            <img src="../assets/images/Tuyendung/2.jpg" alt="" />
            <img src="../assets/images/Tuyendung/3.jpg" alt="" />
            <img src="../assets/images/Tuyendung/4.jpg" alt="" />
            <img src="../assets/images/Tuyendung/5.jpg" alt="" />
            <img src="../assets/images/Tuyendung/7.jpg" alt="" />
            <img src="../assets/images/Tuyendung/8.jpg" alt="" />
          </div>
          <h4>Bài viết gần đây</h4>
          <div>
            <p>Free 3D & Giảm 10% tất cả concept</p>
            <p>SHARING & LOVING - Món quà nhỏ, niềm vui lớn</p>
            <p>DOODLE DEAL - Up to 60% all items</p>
            <p>Tiktok Challenge - "Ở Nhà Lạ Vui!"</p>
            <p>Miễn phí vận chuyển cho tất cả đơn hàng từ 0đ!</p>
          </div>
        </div>
        <div class="content_2">
          <div class="content_2_01" style="padding: 0">
            <div class="img-container">
              <img src="../assets/images/Tuyendung/h5.png" alt="" />
            </div>
            <div class="content2_01_text">
              <h2>[TUYỂN DỤNG] BẠN CÓ YÊU NHÀ KHÔNG?</h2>
              <p style="color: var(--detail-color); font-size: 12px">
                <b>Đăng bởi</b> Home Make MY | Tháng 5 31, 2023 | 0 bình luận
              </p>
              <p style="padding: 30px 0 20px 0">
                Đó sẽ là câu hỏi mà Make My Home luôn đặt ra trong mọi buổi gặp
                gỡ ứng viên. Tụi mình tin rằng, chỉ khi có tình yêu đủ lớn với
                nhà cửa, nội thất, với không gian sống đẹp, bạn mới có thể lan
                toả đến người khác, dù trong cuộc sống hay công việc. Nhân tiện,
                nếu bạn yêu nhà và cũng đang tìm kiếm một công việc mới ở các vị
              </p>
              <a href="./Tuyendung_xemthem.html"><button>XEM THÊM</button></a>
            </div>
          </div>
          <div class="content_2_01">
            <div class="img-container">
              <img src="../assets/images/Tuyendung/h4.png" alt="" />
            </div>
            <div class="content2_01_text">
              <h2>TÌM NGƯỜI NHÀ | TUYỂN DỤNG THÁNG 5</h2>
              <p style="color: var(--detail-color); font-size: 12px">
                <b>Đăng bởi</b> Home Make MY | Tháng 5 04, 2023 | 0 bình luận
              </p>
              <p style="padding: 30px 0 20px 0">
                Bạn mong muốn được phát huy mọi tiềm năng vốn có? Được làm việc
                trong môi trường trẻ trung, năng động và luôn khuyến khích mọi
                sự khác biệt, tự do trở thành phiên bản độc nhất của chính mình?
                VẬY THÌ HÃY TRỞ THÀNH MỘT PHẦN CỦA NHÀ NHÉ!
              </p>
              <a href="./Tuyendung_xemthem.html"><button>XEM THÊM</button></a>
            </div>
          </div>
          <div class="content_2_01">
            <div class="img-container">
              <img src="../assets/images/Tuyendung/h3.jpg" alt="" />
            </div>
            <div class="content2_01_text">
              <h2>TÌM NGƯỜI NHÀ - TUYỂN DỤNG 2023</h2>
              <p style="color: var(--detail-color); font-size: 12px">
                <b>Đăng bởi</b> Home Make MY | Tháng 2 07, 2023 | 0 bình luận
              </p>
              <p style="padding: 30px 0 20px 0">
                Nếu bạn đang tìm kiếm một công việc lý tưởng để thể hiện trình
                độ chuyên môn cũng như đam mê của mình, thì Nhà cũng đang tìm
                những người bạn phù hợp để cùng đồng hành trên hành trình phát
                triển một Make My Home vững mạnh và sáng tạo hơn. 📍 Địa điểm:
                Văn phòng MMH - quận Tân Bình𝐒𝐀𝐋𝐄𝐒 • Store manager: https://b
              </p>
              <a href="./Tuyendung_xemthem.html"><button>XEM THÊM</button></a>
            </div>
          </div>
          <div class="content_2_01">
            <div class="img-container">
              <img src="../assets/images/Tuyendung/h2.png" alt="" />
            </div>
            <div class="content2_01_text">
              <h2>WE ARE HIRING 12/2022</h2>
              <p style="color: var(--detail-color); font-size: 12px">
                <b>Đăng bởi</b> Home Make MY | Tháng 11 21, 2022 | 0 bình luận
              </p>
              <p style="padding: 30px 0 20px 0">
                NHÀ TUYỂN DỤNG - TÌM NGƯỜI ĐỒNG HÀNHNhiều bạn thắc mắc tại sao
                Nhà tuyển dụng suốt, Nhà cũng thấy ngại lắm chứ. Nhưng với tình
                hình phát triển và số lượng dự án Nhà đang đảm nhận quá nhiều,
                vì thế mà Nhà luôn cần đến những cánh tay cùng đồng hành.Nếu bạn
                đang tìm kiếm một công việc lý tưởng để thể hiện trình độ chuyên
              </p>
              <a href="./Tuyendung_xemthem.html"><button>XEM THÊM</button></a>
            </div>
          </div>
          <div class="content_2_01">
            <div class="img-container">
              <img src="../assets/images/Tuyendung/h1.jpg" alt="" />
            </div>
            <div class="content2_01_text">
              <h2>MAKE MY HOME TUYỂN DỤNG THÁNG 01/2021</h2>
              <p style="color: var(--detail-color); font-size: 12px">
                <b>Đăng bởi</b> Home Make MY | Tháng 1 01, 2021 | 0 bình luận
              </p>
              <p style="padding: 30px 0 20px 0">
                NĂM MỚI, THẮP NGUỒN SÁNG MỚIKhông chỉ cho bạn, mà cho Make My
                Home nữa. Bởi vì có thể, bạn đang cần một công việc theo đúng
                chuyên môn và mong muốn của mình.
              </p>
              <a href="./Tuyendung_xemthem.html"><button>XEM THÊM</button></a>
            </div>
          </div>
          <div class="next_page">
            <ul>
              <li><span>1</span></li>
              <li><a href="./Tuyendung2.html">2</a></li>
              <li><a href="./Tuyendung2.html">Sau</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!--Footer-->
      <footer>
        <div class="container footer_container">
          <div class="footer_content">
            <h3 class="title">Thông tin về Nhà</h3>
            <ul>
              <li><a href="./Lienhe.html">LIÊN HỆ</a></li>
              <li><a href="./Tuyendung1.html">TUYỂN DỤNG</a></li>
            </ul>
          </div>
          <div class="footer_content">
            <h3 class="title">Sản phẩm</h3>
            <ul>
              <li><a href="">SẢN PHẨM NOEL</a></li>
              <li><a href="">BÀN - tables</a></li>
              <li><a href="">GIƯỜNG - beds</a></li>
              <li><a href="">SOFA - sofas</a></li>
              <li><a href="">CHĂN, GA, GỐI- bedding</a></li>
              <li><a href="">ĐỒ GIA DỤNG - household goods</a></li>
              <li><a href="">KỆ, TỦ - shelf units, cabinets</a></li>
              <li><a href="">Đèn - lamps</a></li>
              <li><a href="">GƯƠNG - mirrors</a></li>
              <li><a href="">SẢN PHẨM DỆT MAY - home texttile</a></li>
              <li><a href="">ẤN PHẨM - publications</a></li>
              <li><a href="">GHẾ - chairs</a></li>
              <li><a href="">TRANG TRÍ - decorations</a></li>
              <li><a href="">BỘ SƯU TẬP - COLLECTIONS</a></li>
            </ul>
          </div>
          <div class="footer_content">
            <h3 class="title">Chính sách</h3>
            <ul>
              <li>
                <a href="./chinhsachvaquydinh.html">Chính sách và quy định</a>
              </li>
              <li><a href="./baomat.html">Bảo mật</a></li>
              <li><a href="./Lienhe.html">Liên hệ</a></li>
            </ul>
          </div>
          <div class="footer_content">
            <h3 class="title">Liên hệ</h3>
            <p>Công ty TNHH Kiến trúc và Nội thất Make My Home</p>
            <p>GPĐKKD số 0314329518 do Sở KHĐT TP.HCM cấp ngày 03/04/2017</p>
            <p>
              CỬA HÀNG &amp; VĂN PHÒNG: 90-92 Đường B2, Khu đô thị Sala, An Lợi
              Đông, Thủ Đức, HCM
            </p>
            <p>ĐIỆN THOẠI: 028 6267 6466 - 0866757758</p>
            <p>EMAIL: support@makemyhomevn.com</p>
            <div class="footer_icon">
              <a
                href="https://www.facebook.com/makemyhomevn/?ref=aymt_homepage_panel"
                ><i class="fa-brands fa-facebook fa-2xl"></i></a
              ><a href="https://www.instagram.com/makemyhomevn/?hl=en"
                ><i class="fa-brands fa-instagram fa-2xl"></i
              ></a>
              <a href="https://www.pinterest.com/makemyhomevn/"
                ><i class="fa-brands fa-pinterest fa-2xl"></i
              ></a>
              <a href="https://www.youtube.com/channel/UC4mYFbip0Jb0lMXNcupaF0A"
                ><i class="fa-brands fa-youtube fa-2xl"></i
              ></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
